@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-bg-main: #F9FAFB;
  --color-bg-card: #FFFFFF;
  --color-text-main: #111827;
  --color-text-muted: #6B7280;
  --color-border-theme: #E5E7EB;
  --color-success-theme: #10B981;
  
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-bg-main text-text-main antialiased;
  }
}
